#app{
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.app-wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  .app-scroll{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 0 !important
    }
  }
}

.mlr-md{
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}

.iconfont{
  font-size: 0.4rem;
  line-height: 0.4rem;
}